
@{
    ViewBag.Title = "result";
}

<h2>result</h2>

<form method="post">
    <table>
        <tr>
            <td>
              result
            </td>
            <td>
                <input type="text" name="t1" value="@TempData["sum"]" />
            </td>
        </tr>
        <tr>
            <td>
               
            </td>
            <td>
                <input type="submit" name="b1" value="back" />
            </td>
        </tr>
       
    </table>
</form>