
@{
    ViewBag.Title = "sum";
}

<h2>sum</h2>

<form method="post">
    <table>
        <tr>
            <td>
                no1
            </td>
            <td>
                <input type="text" name="t1" value="@ViewBag.n1" />
            </td>
        </tr>
        <tr>
            <td>
                no2
            </td>
            <td>
                <input type="text" name="t2" value="@ViewBag.n2" />
            </td>
        </tr>
        <tr>
            <td>
               
            </td>
            <td>
                <input type="submit" name="b1" value="sum" />
            </td>
        </tr>
    </table>
</form>